body {
    margin: 0;
    padding: 0;
}

header {
    background-color: aqua;
    margin: auto;
    height: 100px;
    width: 95%;
    text-align: center;
    font-size: 75px;
    box-shadow: 5px 5px darkslategray ;
}

.list-nav {
    display: inline-flex;
}